UcbWeb/Service References/AuthorisationService/AuthorisationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/ServiceContracts/AuthorisationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AuthorisationDC">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorisationDC" nillable="true" type="tns:AuthorisationDC" />
  <xs:complexType name="ArrayOfStaffAccessDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaffAccessDC" nillable="true" type="tns:StaffAccessDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaffAccessDC" nillable="true" type="tns:ArrayOfStaffAccessDC" />
  <xs:complexType name="StaffAccessDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsSpecificOrganisationAccessRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationID" type="xs:int" />
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaffAccessDC" nillable="true" type="tns:StaffAccessDC" />
</xs:schema>