UcbWeb/Service References/AuthorisationService/AuthorisationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorisationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4444/ServiceContracts/AuthorisationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4444/ServiceContracts/AuthorisationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" />
      <xsd:import schemaLocation="http://localhost:4444/ServiceContracts/AuthorisationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4444/ServiceContracts/AuthorisationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:4444/ServiceContracts/AuthorisationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorisationService_GetUserAuthorisationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuthorisationInfo" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserAuthorisationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuthorisationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserAuthorisationInfo_ServiceErrorFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" name="detail" element="q1:ServiceErrorFault" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserAuthorisationInfo_AuthorisationFailureFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" name="detail" element="q2:AuthorisationFailureFault" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserRoles_ServiceErrorFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" name="detail" element="q3:ServiceErrorFault" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserRoles_AuthorisationFailureFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" name="detail" element="q4:AuthorisationFailureFault" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserApplicationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserApplicationInfo" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserApplicationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserApplicationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserApplicationInfo_ServiceErrorFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" name="detail" element="q5:ServiceErrorFault" />
  </wsdl:message>
  <wsdl:message name="IAuthorisationService_GetUserApplicationInfo_AuthorisationFailureFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Management.WebServices.FaultContracts" name="detail" element="q6:AuthorisationFailureFault" />
  </wsdl:message>
  <wsdl:portType name="IAuthorisationService">
    <wsdl:operation name="GetUserAuthorisationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserAuthorisationInfo" message="tns:IAuthorisationService_GetUserAuthorisationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserAuthorisationInfoResponse" message="tns:IAuthorisationService_GetUserAuthorisationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserAuthorisationInfoServiceErrorFaultFault" name="ServiceErrorFaultFault" message="tns:IAuthorisationService_GetUserAuthorisationInfo_ServiceErrorFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserAuthorisationInfoAuthorisationFailureFaultFault" name="AuthorisationFailureFaultFault" message="tns:IAuthorisationService_GetUserAuthorisationInfo_AuthorisationFailureFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserRoles" message="tns:IAuthorisationService_GetUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserRolesResponse" message="tns:IAuthorisationService_GetUserRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserRolesServiceErrorFaultFault" name="ServiceErrorFaultFault" message="tns:IAuthorisationService_GetUserRoles_ServiceErrorFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserRolesAuthorisationFailureFaultFault" name="AuthorisationFailureFaultFault" message="tns:IAuthorisationService_GetUserRoles_AuthorisationFailureFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserApplicationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserApplicationInfo" message="tns:IAuthorisationService_GetUserApplicationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserApplicationInfoResponse" message="tns:IAuthorisationService_GetUserApplicationInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserApplicationInfoServiceErrorFaultFault" name="ServiceErrorFaultFault" message="tns:IAuthorisationService_GetUserApplicationInfo_ServiceErrorFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthorisationService/GetUserApplicationInfoAuthorisationFailureFaultFault" name="AuthorisationFailureFaultFault" message="tns:IAuthorisationService_GetUserApplicationInfo_AuthorisationFailureFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorisationService" type="tns:IAuthorisationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserAuthorisationInfo">
      <soap:operation soapAction="http://tempuri.org/IAuthorisationService/GetUserAuthorisationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorFaultFault">
        <soap:fault use="literal" name="ServiceErrorFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthorisationFailureFaultFault">
        <soap:fault use="literal" name="AuthorisationFailureFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://tempuri.org/IAuthorisationService/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorFaultFault">
        <soap:fault use="literal" name="ServiceErrorFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthorisationFailureFaultFault">
        <soap:fault use="literal" name="AuthorisationFailureFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserApplicationInfo">
      <soap:operation soapAction="http://tempuri.org/IAuthorisationService/GetUserApplicationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorFaultFault">
        <soap:fault use="literal" name="ServiceErrorFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthorisationFailureFaultFault">
        <soap:fault use="literal" name="AuthorisationFailureFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorisationService">
    <wsdl:port name="BasicHttpBinding_IAuthorisationService" binding="tns:BasicHttpBinding_IAuthorisationService">
      <soap:address location="http://localhost:4444/ServiceContracts/AuthorisationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>