UcbWeb/Service References/DirectoryService/DirectoryService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Resources.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dwp.Adep.Framework.Resources.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ADUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNSHostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistinguishedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfADGroup" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPrincipalName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ADUser" nillable="true" type="tns:ADUser" />
  <xs:complexType name="ArrayOfADGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ADGroup" nillable="true" type="tns:ADGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfADGroup" nillable="true" type="tns:ArrayOfADGroup" />
  <xs:complexType name="ADGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SamAccountName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ADGroup" nillable="true" type="tns:ADGroup" />
  <xs:complexType name="ArrayOfADUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ADUser" nillable="true" type="tns:ADUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfADUser" nillable="true" type="tns:ArrayOfADUser" />
</xs:schema>