UcbWeb/Service References/UcbService/UcbService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dwp.Adep.Ucb.WebServices.FaultContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dwp.Adep.Ucb.WebServices.FaultContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataIntegrityFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataIntegrityFault" nillable="true" type="tns:DataIntegrityFault" />
  <xs:complexType name="ServiceErrorFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServiceErrorFault" nillable="true" type="tns:ServiceErrorFault" />
  <xs:complexType name="UniqueConstraintFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UniqueConstraintFault" nillable="true" type="tns:UniqueConstraintFault" />
  <xs:complexType name="DataConcurrencyFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DataConcurrencyFault" nillable="true" type="tns:DataConcurrencyFault" />
</xs:schema>